@model IEnumerable<Task.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>
    @Localization.LocalizationResource.Notes
</h2>

<p>
    @Html.ActionLink(@Localization.LocalizationResource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Id_Note)*@
        </th>
        <th>
            @Localization.LocalizationResource.DateAdded
        </th>
        <th>
            @Localization.LocalizationResource.Title
        </th>
        <th>
            @Localization.LocalizationResource.Message
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.Id_Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink(@Localization.LocalizationResource.Details, "Details", new {  id=item.Id_Note })
            @*@Html.ActionLink("Delete", "Delete", new {  id=item.Id_Note })*@
        </td>
    </tr>
}

</table>
